body {
	background-color: #ffffff; 
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	padding: 25px;
	text-align: center;
	border: 1px solid #cccccc;
	width: 240px;
	font-size: 30px;
	left: 230px;
	float: left;
}

#links-to-pages {
	float: left;
	margin-left: 620px;
	padding: 30px;
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding-right: 20px;
    background-color: white;
}

a:link {
	text-decoration: none;
}

a:hover {
	color: red;
}

#content {
	clear: both;
	background-color: silver;
	/* background-image: url("rockywall.png"); */
	width: 1024px;
	height: 560px;
	margin: 0 auto 0 auto;
}

#main-bio {
	float: left;
	background-color: #ffffff;
	width: 650px;
	margin-left: 80px;
	margin-top: 30px;
	border: 1px solid #dddddd;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 30px;
	padding: 30px;
}

#pic-text {
	border-top: 1px solid #dddddd;
	padding-top: 20px;
}

img {
	float: left;
	width: 200px;
	height: 200px;
	margin-left: 20px;
	margin-right: 20px;
}

p {
	margin-left: 00px;
	line-height: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

#connect-to-me {
	float: left;
	margin: 0;
	position: relative;
	background-color: #ffffff;
	width: 270px;
	height: 200px;
	border: 1px solid #dddddd;
	margin-top: 30px;
	left: 20px;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 16px;
	font-weight: bold;
	color: #4aaaa5;
	padding: 20px;
	border-bottom: 1px solid #dddddd;
}

#social {
    list-style-type: none;
    margin: 0;
    padding-top: 14px;
    overflow: hidden;
}

#sites {
    float: left;
}

#sites a {
    display: block;
    padding-right: 0px;
    background-color: white;
}

footer {
	clear: both;
	position: sticky;
	background-color: #666666;
	padding: 30px;
	text-align: center;
	border-top: 4px solid #4aaaa5;
	bottom: 0
}